/* .player_container{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.video_player_container video{
    width: 1220px;
    height: 800px;
} */

.video-player {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

video {
  width: 100%;
  display: block;
}

/* Controls */
.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.btn {
  background: rgba(255,255,255,0.2);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 8px 12px; */
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(255,255,255,0.35);
}

.progress {
  flex: 1;
  height: 5px;
  border-radius: 5px;
  background: #444;
  cursor: pointer;
}

.volume {
  width: 80px;
}
