h1{
    color: white;

}

.one_movie_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.one_movie_top{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}



.text_card p{
    font-size: 25px;
}
.text_card_form form{  
    transform: translateY(10px);
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 500px; 
}
.one_movie_container .img_card img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

.addbutton{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addbutton button{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    color: white;
    background-image: linear-gradient(
  325deg,
  rgba(0, 122, 255, 1) 0%,
  rgba(0, 212, 255, 1) 55%,
  rgba(0, 122, 255, 1) 90%
);
}



/* one_video_delete */
.one_video_delete button{
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
}
.one_video_delete button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

@media (max-width:980px) {

    .text_card_form form{  
    gap: 20px; 
    width: 400px; 
}
    .one_movie_container .img_card img{
    width: 350px;
}
}
@media (max-width:820px) {

    .one_movie_top{
        width: 100%;
        border: 1px solid red;
        gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
    .text_card_form form,
    .one_movie_container .img_card img{  
    width: 550px; 
}

}








/* .addbutton button:nth-child(1){
    background-color: rgb(196, 32, 20);
    color: red;
}

.addbutton button:hover:nth-child(2){
    background-color: rgb(27, 14, 197);
    color: white;
} */