.kinolar_container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 90%;
    /* width: 1440px; */
    margin: 0 auto;
    /* padding-top:20px ; */
    /* position: relative; */
    overflow: hidden;
}

