.dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.dashboard_title {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 4px 4px #2e9aff;
}

.movies_dashboard {
    max-width: 1220px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.dashboard_slader {
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.movies_dashboard::-webkit-scrollbar {
    height: 8px;
}

.movies_dashboard::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.movies_dashboard::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}