.dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dashboard_title {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 4px 4px #2e9aff;
}

.movies_dashboard {
    max-width: 1220px;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.dashboard_slader {
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* border:  1px solid red; */
}
.input_dashboard_results{
    max-width: 1220px;
    width: 100%;
}
.search_input_result{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    align-items: center;
    gap: 20px;
    max-width: 1220px;
    width: 100%;
    /* border: 1px solid red; */
    /* padding: 20px; */
}

.movie_salavha h2{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px #2e9aff;
}

.no_found_dashboard{

    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(245, 11, 11);
    /* border: 2px solid red; */
    width: 100%;
    text-align: center;
    /* text-shadow: 2px 2px #2e9aff; */
}
